@CHARSET "ISO-8859-1";
/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu Condensed', sans-serif;
}


.clearfix:before,
.clearfix:after{
	content: " ";
	display: table;
}

.clearfix:after {clear: both;}

.clearfix{
   	zoom: 1;
}
a{
	text-decoration: underline;
	color: #B6B6B6;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	    -ms-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
}
a:hover{
	text-decoration: none;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	    -ms-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#444;
}

q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}


/* Custom CSS
 * --------------------------------------- */
body{
	font-family: arial,helvetica;
	color: #333;
	color: rgba(0,0,0,0.5);
}
.wrap{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
}
h1{
	font-size: 6em;
}
p{
	font-size: 17px;
	margin-bottom: 10px;
	text-align: left;
}
.intro p{
	width: 50%;
	margin: 0 auto;
	font-size: 1.5em;
}
.section{
	text-align:center;
}
#menu li {
	display:inline-block;
	margin: 10px;
	color: #000;
	background:#fff;
	background: rgba(255,255,255, 0.5);
	-webkit-border-radius: 10px;
            border-radius: 10px;
}
#menu li.active{
	background:#666;
	background: rgba(0,0,0, 0.5);
	color: #fff;
}
#menu li a{
	text-decoration:none;
	color: #000;
}
#menu li.active a:hover{
	color: #000;
}
#menu li:hover{
	background: rgba(255,255,255, 0.8);
}
#menu li a,
#menu li.active a{
	padding: 9px 18px;
	display:block;
}
#menu li.active a{
	color: #fff;
}
#menu{
	position:fixed;
	top:0;
	left:0;
	height: 40px;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin:0;
}
.twitter-share-button{
	position: fixed;
	z-index: 99;
	right: 149px;
	top: 9px;
}
#download{
	margin: 10px 0 0 0;
	padding: 15px 10px;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	background-color: #49afcd;
	background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: -ms-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: -webkit-gradient(linear,0 0,0 100%,from( #5bc0de),to( #2f96b4));
	background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: linear-gradient(top, #5bc0de, #2f96b4);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de', endColorstr='#2f96b4', GradientType=0);
	border-color: #2f96b4 #2f96b4 #1f6377;
	border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);

	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	vertical-align: middle;
	cursor: pointer;
	display: inline-block;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
}
#download a{
	text-decoration:none;
	color:#fff;
}
#download:hover{
	text-shadow: 0 -1px 0 rgba(0,0,0,.25);
	background-color: #2F96B4;
	background-position: 0 -15px;
	-webkit-transition: background-position .1s linear;
	-moz-transition: background-position .1s linear;
	-ms-transition: background-position .1s linear;
	-o-transition: background-position .1s linear;
	transition: background-position .1s linear;
}
#infoMenu{
	height: 20px;
	color: #f2f2f2;
	position:fixed;
	z-index:70;
	bottom:0;
	width:100%;
	text-align:right;
	font-size:0.9em;
	padding:8px 0 8px 0;
}
#infoMenu ul{
	padding: 0 40px;
}
#infoMenu li a{
	display: block;
	margin: 0 22px 0 0;
	color: #333;
}
#infoMenu li a:hover{
	text-decoration:underline;
}
#infoMenu li{
	display:inline-block;
	position:relative;
}
#examplesList{
	display:none;
	background: #282828;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	padding: 20px;
	float: left;
	position: absolute;
	bottom: 29px;
	right: 0;
	width:638px;
	text-align:left;
}
#examplesList ul{
	padding:0;
}
#examplesList ul li{
	display:block;
	margin: 5px 0;
}
#examplesList ul li a{
	color: #BDBDBD;
	margin:0;
}
#examplesList ul li a:hover{
	color: #f2f2f2;
}
#examplesList .column{
	float: left;
	margin: 0 20px 0 0;
}
#examplesList h3{
	color: #f2f2f2;
	font-size: 1.2em;
	margin: 0 0 15px 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,0.1);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
	padding: 0 0 5px 0;
}



/* Demos Menu
 * --------------------------------------- */
 #demosMenu{
	position:fixed;
	bottom: 10px;
	right:10px;
	z-index: 999;
 }

 .blur{
 	position:absolute;
 	width:100%;
 	height:100%;
 	/* background: rgba(0,0,0,0.6); */
 }
 #section0 .fp-tableCell,#section2 .fp-tableCell,#section3 .fp-tableCell{
 	background: rgba(0,0,0,0.7);
 	position: relative;
 }
.content{
	position:relative;
	z-index:10;
	/* width: 100%; */
	/* height: 100%; */
}

	/* Style for our header texts
	* --------------------------------------- */
	h1{
		font-size: 70px;
		color: #fff;
		margin-bottom: 100px;
		padding:0;
	}
	h2{
		font-size: 45px;
		margin-bottom: 20px;
		padding:0;
	}

h3{
		font-size: 28px;
		color: #fff;
	}
	/* Centered texts in each section
	* --------------------------------------- */
	.section{
		text-align:center;
	}


	/* Backgrounds will cover all the section
	* --------------------------------------- */
	#section0,
	#section1,
	#section2,
	#section3{
		background-size: cover;
		background-attachment: fixed;
	}

	/* Defining each sectino background and styles
	* --------------------------------------- */
	#section0{
		background-image: url(../images/back1.jpg);
		
	}
	#section3{
		background-image: url(../images/back2_.jpg);
		
	}
	#section2{
		background-image: url(../images/back2.jpg);
		background-position: center bottom;
	}
	#section3 h1{
		color: #000;
	}


 	/*Adding background for the slides
	* --------------------------------------- */
	#slide1{
		background-image: url(imgs/bg2.jpg);
		padding: 6% 0 0 0;
	}
	#slide2{
		background-image: url(imgs/bg5.jpg);
		padding: 6% 0 0 0;
	}


	/* Bottom menu
	* --------------------------------------- */
	#infoMenu li a {
		color: #fff;
	}

	.wrapper{
		width:980px;
		padding: 0 20px;
		margin:0 auto;
		/* display: inline-block; */
		/* vertical-align: middle; */
	}
	#section0 .wrapper{
		width:700px;
	}
	#section2 .wrapper,#section3 .wrapper{
		width: 620px;
	}
	#section4 .content img{
		/* margin:20px 0; */
		float: left;
		/* margin-bottom: 50px; */
	}
	.block{
		/* width: 70%; */
		color: #B6B6B6;
		margin:0 auto;
		border: 1px solid rgba(136, 136, 136, 0.5);
		border-top: none;
		padding: 25px;
		padding-top: 30px;
		font-size: 18px;
		margin-top: -14px;
	}
.content:before{
	/* content: ""; */
	/* display: inline-block; */
	/* min-height: inherit; */
	/* height: 100%; */
	/* vertical-align: middle; */
}
#section0 h3,#section2 h2{
	float: left;
	width: 30%;
	color:#fff;
}
#section3 h2{
	color:#fff;
}
#section2 h2{
	width: 60%;
	float: left;
}
#section3 h2{
	width: 66%;
	float: left;
}
#section2 .underline{
	width: 20%;
	padding-top: 18px;
}
#section3 .underline{
	width: 17%;
	padding-top: 18px;
}

#section2 .block,#section3 .block{
	margin-top: -43px;
	padding-top: 50px;
}
#section4 .underline{
		width: 21.4%;
		float: left;
		padding-top: 7px;
		border-bottom: 1px solid rgba(136, 136, 136, 0.5);
		margin:10px auto;
		margin-top: 30px;
	}

#section4 .block{
	margin-top: 57px;
	padding-top: 52px;
	color: rgba(0,0,0,0.5);
}
.underline{
		width: 35%;
		float: left;
		padding-top: 7px;
		border-bottom: 1px solid rgba(136, 136, 136, 0.5);
		margin:10px auto;
	}
	.persons li{
		float:left;
		width: 27%;
		margin-right: 9%;
		margin-left:30px;
		position: relative;
	}
	
	.persons li:last-child{
		margin-right: 0;
	}
	.img_wrap{
		height:350px;
	}
	.persons li img{
		width: auto;
		height: 100%;
	}
	.info{
		background: #000;
		color: #fff;
		padding: 15px;
		width: 100%;
		height: 23px;
		margin: 0 auto;
		margin-left: -22px;
		position: relative;
		z-index: 1;
		-webkit-transform: skew(-15deg);
		-moz-transform: skew(-15deg);
		-o-transform: skew(-15deg);
		-webkit-transition: all 0.3s;
		   -moz-transition: all 0.3s;
		    -ms-transition: all 0.3s;
		     -o-transition: all 0.3s;
		        transition: all 0.3s;
	}

	.name{
		position: absolute;
		bottom: 16px;
		z-index: 2;
		color: #fff;
		font-size: 18px;
		margin-left: 5%;
	}
	.num{
		position: absolute;
		right:7px;
		bottom: 14px;
		z-index: 2;
		color: #fff;
		font-size: 22px;
		margin-left: 5%;
	}
	.persons{
		margin-top:70px;
	}

	.info_inner{
		background: #0043AC;
		color: #fff;
		position: absolute;
		padding: 15px;
		right:0;
		top: 0;
		width: 23px;
		height: 23px;
	}

	.back{
		position:absolute;
		width: 60%;
		top: 0;
		left: -9%;
		height:100%;
		background: #F4F4F4;
		-webkit-transform: skew(-15deg);
		-moz-transform: skew(-15deg);
		-o-transform: skew(-15deg);
	}

	.persons .paral{
    margin-top: -6px;
    position: relative;
 }

	.social .info{
		width: 25px;
		background: rgba(0,0,0,0.5);
		border: 1px solid rgba(136, 136, 136, 0.5);
		margin: 0;
	}
	.social .paral:hover .info{
		border: 1px solid rgba(136, 136, 136, 1);
		-webkit-transition: all 0.3s;
		   -moz-transition: all 0.3s;
		    -ms-transition: all 0.3s;
		     -o-transition: all 0.3s;
		        transition: all 0.3s;
	}
	.contacts .social{
		position:relative;
		width: 145px;
		margin: 0 auto;
		right: 0;
		top: 0;
		/* margin-top: 15px; */
	}
	.social{
		top:20px;
		right: 30px;
		position: absolute;
	}
	.social .paral{
		float:left;
		margin-left:10px;
		position: relative;
		margin-top: 15px;
	}
	.social .num{
		width: 31px;
		position: absolute;
		left: 10px;
		top: 12px;
	}
	.social .num img{
		width:100%;
	}

	.contacts h4{color:#fff;}
	.contacts{
		text-align: center;
		width: 61%;
		margin: 0 auto;
		margin-top: 10px;
	}
	.contacts dl{
		margin:10px 0;
		text-align: left;
	}
	.contacts dt{
	float: left;
	width: 105px;
	}
	.contacts dd{
		margin:10px 0;
	}

	.phone a{
		text-decoration:none;
	}
	.alf_a{
		/* color: #515151; */
		/* font-size: 24px; */
		margin-top: 5px;
		display: inline-block;
	}

	.images{
		position:absolute;
		width: 100%;
		height: 100%;
		text-align: left;
		top: 0;
	}
	.images img{
		position: absolute;
	}
		
	.images img:nth-child(1){
		left: 20px;
		top: 30px;
	}
		
	.images img:nth-child(2){
		left: 65px;
		top: 52%;
	}
		
	.images img:nth-child(3){
		right:20px;
		top: 50px;
	}
		
	.images img:nth-child(4){
		right: 80px;
		top: 61%;
	}

	.galery li{
		width: 23.5%;
		margin-right: 1%;
		margin-bottom: 1%;
		height: 155px;
		overflow: hidden;
		float:left;
		border: 2px solid rgb(244, 244, 244);
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		-ms-transition: all 0.3s;
		-o-transition: all 0.3s;
		transition: all 0.3s;
	}
	.galery li:nth-child(4n){
		margin-right: 0;
	}
	.galery li img{
		width: 100%;
		    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
    -webkit-transform: scale(1.0);
    -moz-transform: scale(1.0);
    -o-transform: scale(1.0);
	}
	.galery li a{
		display:inline-block;
		height:100%;
	}

	.galery li:hover{
		border-color:#0043AC;
		-webkit-transition: all 0.3s;
		   -moz-transition: all 0.3s;
		    -ms-transition: all 0.3s;
		     -o-transition: all 0.3s;
		        transition: all 0.3s;
	}
	.galery li:hover img{
-webkit-transform: scale(1.2);
 -moz-transform: scale(1.2);
 -o-transform: scale(1.2);
	}

	

.alf_img{
	    width: 173px;
    float: left;
    margin-right: 15px;
}

.matches{
	margin:10px;

}

.matches li{
	margin-bottom:10px;
}

ol {
    counter-reset:li; /* Ð˜Ð½Ð¸Ñ†Ð¸Ð°Ð»Ð¸Ð·Ð¸Ñ€ÑƒÐµÐ¼ ÑÑ‡ÐµÑ‚Ñ‡Ð¸Ðº */
    padding:0; /* Ð£Ð´Ð°Ð»ÑÐµÐ¼  ÑƒÑÑ‚Ð°Ð½Ð¾Ð²Ð»ÐµÐ½Ð½Ð¾Ðµ Ð¿Ð¾ ÑƒÐ¼Ð¾Ð»Ñ‡Ð°Ð½Ð¸ÑŽ Ð»ÐµÐ²Ð¾Ðµ Ð¿Ð¾Ð»Ðµ*/
    list-style:none; /* ÐžÑ‚Ð¼ÐµÐ½ÑÐµÐ¼ Ð½ÑƒÐ¼ÐµÑ€Ð°Ñ†Ð¸ÑŽ ÑƒÑÑ‚Ð°Ð½Ð¾Ð²Ð»ÐµÐ½Ð½ÑƒÑŽ Ð¿Ð¾ ÑƒÐ¼Ð¾Ð»Ñ‡Ð°Ð½Ð¸ÑŽ */
}
ol li {
    position:relative;/* Ð¡Ð¾Ð·Ð´Ð°ÐµÐ¼ ÐºÐ¾Ð½Ñ‚ÐµÐºÑÑ‚ Ð´Ð»Ñ Ð¿Ð¾Ð·Ð¸Ñ†Ð¸Ð¾Ð½Ð¸Ñ€Ð¾Ð²Ð°Ð½Ð¸Ñ ÑÐ»ÐµÐ¼ÐµÐ½Ñ‚Ð¾Ð² */
    margin: 0 0 6px 3em;/* Ð”Ð°ÐµÐ¼ ÐºÐ°Ð¶Ð´Ð¾Ð¼Ñƒ ÑÐ»ÐµÐ¼ÐµÐ½Ñ‚Ñƒ ÑÐ¿Ð¸ÑÐºÐ° Ð¾Ñ‚ÑÑ‚ÑƒÐ¿ ÑÐ»ÐµÐ²Ð°, Ñ‡Ñ‚Ð¾ Ð±Ñ‹ Ð¾ÑÐ²Ð¾Ð±Ð¾Ð´Ð¸Ñ‚ÑŒ Ð¿Ñ€Ð¾ÑÑ‚Ñ€Ð°Ð½ÑÑ‚Ð²Ð¾ Ð´Ð»Ñ Ð½ÑƒÐ¼ÐµÑ€Ð°Ñ†Ð¸Ð¸ */
    padding:4px 8px;
}
ol li:before {
    content:counter(li);/* Ð’ ÐºÐ°Ñ‡ÐµÑÑ‚Ð²Ðµ Ð´Ð°Ð½Ð½Ñ‹Ñ… Ð¸ÑÐ¿Ð¾Ð»ÑŒÐ·ÑƒÐµÐ¼ ÑÑ‡ÐµÑ‚Ñ‡Ð¸Ðº */
    counter-increment:li;/* Ð£Ð²ÐµÐ»Ð¸Ñ‡Ð¸Ð²Ð°ÐµÐ¼ Ð·Ð½Ð°Ñ‡ÐµÐ½Ð¸Ðµ ÑÑ‡ÐµÑ‚Ñ‡Ð¸ÐºÐ° Ð½Ð° 1 *//* ÐŸÐ¾Ð·Ð¸Ñ†Ð¸Ð¾Ð½Ð¸Ñ€ÑƒÐµÐ¼ Ð¸ ÑÑ‚Ð¸Ð»Ð¸Ð·Ð¸Ñ€ÑƒÐµÐ¼ Ñ†Ð¸Ñ„Ñ€Ñ‹ */
    position:absolute;
    top:-2px;
    left: -1.4em;
    line-height: 20px;
    width: 28px;
    padding: 4px 0;
    border: 2px solid #666;
    color:#fff;
    border-radius: 50%;
    font-weight:bold;
    font-family:"Helvetica Neue", Arial, sans-serif;
    text-align:center;
}